{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Работы ZarLine{% endblock %}
<style>
  h1 {
    font-size: 105px; /* задаем размер шрифта для заголовков */
    text-align: center; /* выравниваем текст по центру */
  }
</style>
{% block content %}
<div class="features">
    <h6>Работы ZarLine</h6>
    <p>В этом отделе я помещу все мои работы, которые я когда-либо сделал, и он будет пополняться еще не раз..</p>
    <h1>Первая игра на Pygame</h1>
    <img src="{% static 'main/img/pygame2.png' %}" alt="">
    <p>Моя первая игра на Pygame "Fight or Die" была сделана по мотивам "Alien Invasion" из книги Мэтиза. Придумал я эту игру случайно.
    Я писал код с книги, и чтобы закреплять его, я сделал подобную игру, только очень доработанную. Там есть выбор языка, прокачка и озвучка
    кольта и эль примо, усложнение уровней.</p>
    <h1>Сюжет игры Fight or Die</h1>
    <img src="{% static 'main/img/photo_5285316051162226183_y.jpg' %}" alt=""> <img src="{% static 'main/img/photo_5285316051162226002_y.jpg' %}" alt=""> <img src="{% static 'main/img/photo_5285316051162226184_y.jpg' %}" alt=""> <img src="{% static 'main/img/photo_5285316051162226019_y.jpg' %}" alt="">
    <p>Сюжет игры максимально простой. Для начала вам предоставляется выбор языка, потом объясняются все основные правила игры и запускается сама игра.
        Сверху ваш рекорд, слева сверху это жизни, справа это текущие очки и ваш уровень. Задача игрока не подпустить к себе в близь эль примо, отстреливаясь в них, иначе игра начнется заново и все уровни сбросятся. Если вы сумеете выиграть первую волну эль примо,
    то появляется вторая, более быстрая и злобная, соответственно ваш кольт также становится лучше. Когда вы доходите до 11 уровня, вы выигрываете!</p>
    <h1>Визуализация данных</h1>

    <p>В книге Мэтиза была глава про визуализацию данных. Это одна из самых моих любимых глав. Вот некоторые из моих любимых.</p>
    <p>Модель, которая показывает землетрясения, которые происходили в тот день, когда я делал ее:</p>
    <img src="{% static 'main/img/photo_5285316051162226028_w.jpg' %}" alt="">
    <p>Модель пути молекулярного движения:</p>
    <img src="{% static 'main/img/photo_5285316051162226056_y.jpg' %}" alt="">
    <p>Модель, которая показывает, что происходит при 1000-кратном броске двух восьмигранных кубиков:</p>
    <img src="{% static 'main/img/photo_5285316051162226051_w.jpg' %}" alt="">
    <p>Диаграмма с осадками в Ситке:</p>
    <img src="{% static 'main/img/photo_5285316051162226055_w.jpg' %}" alt="">
    <p>В этих визуализациях и моделях я пользовался библиотеками Matplotlib(+pyplot), CSV, Plotly(+graph_objs) и Json.
    Это очень мощные и полезные библиотеки. Мне очень запомнилась и понравилась эта глава</p>


    <h1>BookTelebot</h1>
    <img src="{% static 'main/img/photo_5285316051162226094_x.jpg' %}" alt=""> <img src="{% static 'main/img/photo_5287485421963565914_y.jpg' %}" alt="">
    <p>Также сейчас в разработке мой телеграмм бот для краткого содержания произведений. В нем вы выбираете произведение из списка (из /import), после чего вам на выбор отправляется текстовый и аудио файл. Ссылка на бот: @BookTelebot </p>
    <h1>Шрек Раннер</h1>
    <img src="{% static 'main/img/photo_5284984312183249239_w.jpg' %}" alt=""> <img src="{% static 'main/img/photo_5287485421963565929_w.jpg' %}" alt="">
    <p>Я делал эту игру где-то 2 месяца. В игре пользователь играет за шрека, бежит и собирает монетки, уворачиваясь от румпильщтицхена и других злодеев и ловушек.
    Но шрек бежит все быстрее, и поэтому игра не такая легкая как кажется. Но, к сожалению мы никогда не сможем поиграть в нее..</p>
    <h1>Почему же мы не увидим больше шрека</h1>
    <p>Все случилось спонтанно.. Когда пришло время "билдить" игру, у меня не было памяти на диске OneDrive, так как там лежало очень много не нужных файлов. Я, порой парень горяч, и поэтому
    не стал церемониться с файлами и удалил корзину onedrive. Но, как оказалось потом, там были ОЧЕНЬ нужные файлы для игры, которые onedrive почему-то посчитал ненужными и отправил в корзину..
    И, вот примерно что осталось от моего Шрека, примерно ничего, только скрипты...</p>
    <img src="{% static 'main/img/photo_5335027943971353833_w.jpg' %}" alt="">
    <h1>Выгорание и как я чуть не сдался</h1>
    <p>Когда случилась для меня такая трагедия потерять игру, над которой работал 2-2.5 месяца, я просто сходил в тренажерный зал и уехал навестить бабушку. Тогда я ничего не хотел слышать и даже думать не хотел по поводу игры и вообще работы над собой. Для меня казалось, что за что
    я только не берусь, все валится из рук. Было очень грустно и печально, все мои мечты про заработок, лоферы "loro piano" и духи "trussardi" лопнули в моменте как пузырь.
    Тогда я стал думать, что ZarLine больше не будет, что я никогда не смогу обеспечить себя и тд. Были мысли сдаться и играть целыми днями в доту или кс, как делают мои сверстники или 90% людей.</p>
    <h1>Меня не сломать</h1>
    <p>Я понимал, что я за 30 минут потерял 2.5 месяца крови и пота, но делать было нечего и я решил, что "меня никто не сломает". Также, я понял, что я делал некоторые вещи кардинально неверно и совершенно не правильно, и поэтому, я решил двигаться дальше, сделав игру
    "Steve Run".</p>
    <h1>Steve Run</h1>
    <img src="{% static 'main/img/photo_5335027943971353834_x.jpg' %}" alt="">
    <p>Steve Run- это раннер за стива из майнкрафта, управлять им можно свайпом вверх/вниз, влево/вправо. Если в шрека вы бы могли играть только на компьютере, то в SteveRun вы можете как на компьютере, так и на телефоне!!
    Планирую сделать ее в ближайшее время, если, конечно опять не нажму куда-нибудь)</p>



</div>
{% endblock %}