{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="features">
    <h6>Контакты ZarLine</h6>
    <p>Если у вас есть какие то вопросы,то пишите мне:</p>
    <p>Почта mail - zarlinecontact@mail.ru</p>
    <p>Мой личный телеграмм канал про разработку и про многое другое - https://t.me/ZarLineChannel</p>
    <p>Мой профиль Github, который я буду скоро вести: ZarLineOff (https://github.com/ZarLineOff)</p>
    <p>Также, если вы хотите поддержать автора копейкой для улучшения контента, пожалуйста, свяжитесь со мной в лс ТГ: @OffZarLine</p>
</div>
{% endblock %}