{% extends 'main/layout.html' %}
{% load static %}
{% block title %}ZarLine{% endblock %}

<style>
  h1 {
    font-size: 25px; /* задаем размер шрифта для заголовков */
    text-align: center; /* выравниваем текст по центру */
  }
  h2 {
     font-size: 35px;
      text-align: center;
  }
  h1 {
     font-size: 50px;
      text-align: center;
  }

</style>
{% block content %}
<div class="features">

    <h6>Сайт разработчика ZarLine</h6>
    <p>Я рад вас видеть на моем сайте!Меня зовут ZarLine,я начинающий разработчик и будущий программист. </p>
    <h2>Моя история</h2>
    <p>Как я начал свой путь в IT? Стал я интересоваться программированием в школе, когда мы изучали python в 7 классе.
    Мы проходили курс на сайте степике, но мы занимались очень медленно, и поэтому я подписался на курс по python от сириуса.
    </p>
    <h1>Курс от сириуса</h1>
     <img src="{% static 'main/img/сириус.jpg' %}" alt =""> <img src="{% static 'main/img/photo_5285316051162225977_x.jpg' %}" alt="">
    <p>Курс от сириуса оставил, если честно только плохие воспоминания. Там были очень трудные и непонятные задания, как я понял только позже - олимпиадные.
    Было трудно, но я решил идти дальше, но уже не по сириусу, и я купил книгу Эрика Мэтиза "Изучаем python".</p>
    <h1>Книга Мэтиза</h1>
    <img src="{% static 'main/img/мэтиз.jpg' %}" alt="">
    <p>Мне очень понравилась данная книга, там все понятно и доходчиво объясняют. Я узнал много нового. Но, когда я делал игру "Alien Invasion", местами был неправильный код и иногда приходилось додумывать самостоятельно. Также, мне не очень понравилась глава с Django,
    и поэтому я изучаю его самостоятельно сам, создавая этот сайт!</p>
    <h1>C#</h1>
    <img src="{% static 'main/img/2024-07-28_10-52-39.jpg' %}" alt="">
    <p>Когда я понял, что хочу делать игры, я сразу же заприметил C# и стал проходить курс от Яндекса. Это была моя ошибка.
    Только потом я понял, что мне надо было сначала изучить основы C#, а потом уже программировать игры. Но я даже не знал, что ждем меня дальше....</p>

    <h1>Первая игра на unity и первая роковая ошибка</h1>
    <img src="{% static 'main/img/Unity-Logo.png' %}" alt="">
    <p>Моя первая игра на unity должна была стать обычным раннером про шрека. Сначала я хотел создать игру, где навстречу шреку будут бежать враги и он будет сражаться с ними. Но потом я понял, что на моем этапе это будет через чур трудно, и я решил сделать простой, но интересный и красивый раннер. Подробнее про эту игру и мою фатальную ошибку будет в разделе "Мои работы".</p>
</div>
{% endblock %}


