{% extends 'main/layout.html' %}

{% block title %}Мои перспективы и планы{% endblock %}

{% block content %}
<div class="features">
    <h6>Перспективы и планы</h6>
    <p>Мои планы учить C# и делать игры на unity, дальше изучая python.
    Моя игра Шрек раннер находится на финальной стадии, сейчас я доделаю уровни и добавляю звуки в игру.
    После того, как я доделаю ее, я буду учить сам язык C#. Что касается python, я буду дальше учить его библиотеки.
    Также хочу собрать хороший аккаунт на GitHub и выпускать игры на Яндекс Игры.</p>
</div>
{% endblock %}